.productbox{
     display: flex;
}

.notdisplayed  {
    display: none;
}
.toggle-info{
    position: relative;
} 
.toggle-bg{
    background-color: #fff;
    opacity: 0;
}
.displayed{
    display: flex;
    height: auto;
    width: auto;
    margin-left: 35%;
    margin-top: -40%;
    position: relative;
    background-color: yellow;
    border-radius: 10px;
    border: none;
    outline: none;
}
  